<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Selbig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <userSettings>
    <Selbig.Properties.Settings>
      <setting name="DisableNotification" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SecsVerify" serializeAs="String">
        <value>60</value>
      </setting>
    </Selbig.Properties.Settings>
  </userSettings>
</configuration>
